
###> symfony/framework-bundle ###
/skeleton/.env.local
/skeleton/.env.local.php
/skeleton/.env.*.local
/skeleton/config/secrets/prod/prod.decrypt.private.php
/skeleton/public/bundles/
/skeleton/src/.preload.php
/skeleton/var/
/skeleton/vendor/
###< symfony/framework-bundle ###
