
###> symfony/framework-bundle ###
/the_spacebar/.env.local
/the_spacebar/.env.local.php
/the_spacebar/.env.*.local
/the_spacebar/config/secrets/prod/prod.decrypt.private.php
/the_spacebar/public/bundles/
/the_spacebar/src/.preload.php
/the_spacebar/var/
/the_spacebar/vendor/
###< symfony/framework-bundle ###
